@font-face {
    font-family: comfortzoaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  }

*{
    margin: 0;
    padding: 0;
}
  
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.hero{
    height: 100vh;
    width: 100vw;
    background: url(../images/home_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-attachment: fixed;
}

.hero-heading{
    color: white;
    font-family: comfortzoaa;
    font-size: 5rem;
    width: 50%;
    min-width: 300px;
    text-align: end;
    margin: 0 100px;
}
.hero-tagline{
    margin: 0 100px;
}

.btn-cta{
    font-size: 2rem;
    margin: 2vh 2vh 0 0;
    padding: 2vh 5vh;
    background: transparent;
    border-radius: 30px 20px 0;
    color:white;
    border: 1px solid white;
}
.btn-cta:hover{
    color: black;
    background: white;
}

.services{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services_heading{
    font-family: comfortzoaa;
}