@font-face {
    font-family: comfortaa
    ;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  }

*{
    margin: 0;
    padding: 0;
    font-family: comfortaa
    ;
}
  
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* Home Section */


.hero{
    height: 100vh;
    width: 100vw;
    background: url(../images/home_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-attachment: fixed;
}

.hero-heading{
    color: white;
    font-family: comfortaa
    ;
    font-size: 5rem;
    width: 50%;
    min-width: 300px;
    text-align: end;
    margin: 0 100px;
}

.hero-tagline{
    margin: 0 100px;
}

.btn-cta{
    font-size: 2rem;
    margin: 2vh 2vh 0 0;
    padding: 2vh 5vh;
    background: transparent;
    border-radius: 30px 20px 0;
    color:white;
    border: 1px solid white;
}

.btn-cta:hover{
    color: black;
    background: white;
}

.services, .moody, .footer{
    width: 100vw;
    min-height: 100vh;
    background: rgba(255,255,255,.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.moody{
    height: 100vh;
    font-family: comfortaa
    ;
    font-size: 5rem;
    background: url('../images/Moody_hero_bg.jpg');
    background-size: cover;
}

.services_heading{
    font-family: comfortaa
    ;
    font-size: 4rem;
    margin-bottom: 5vh;
}
.footer{
    min-height: 40vh;
    background: rgba(0,0,0,.8);
    color: white;
    position: relative;
    bottom: 0;
}


/* Home Responsive */

@media only screen and (max-width: 600px){
    
    .hero{
        align-items: center;
        background-position: -500px 0;
    }

    .hero-heading{
        font-size: 7vh;
        width: 50%;
        min-width: 300px;
        text-align: center;
        margin: 0 100px;
    }
    
}



/* Explore Section */
.explore{
    min-height: 100vh;
    padding-top: 10vh;
    background: url('../images/explore_bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.quote{
    min-height: 30vh;
    margin: 2vh 10px;
}

.quote .card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote .card-body .card-author{
    width: 100%;
    text-align: right;
}