.nav-bg-dark{
    background: rgba(0,0,0,.8);
    width: 100%;
}

@font-face {
    font-family: comfortzoaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  }

.nav-item{
    font-family: comfortzoaa;
    text-decoration: none;
}

.nav-brand{
    padding: 0;
    margin: 0;
}